<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>EmployeeCRUD2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.xhtml</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.xhtml</welcome-file>
  </welcome-file-list>
  
  
  
<servlet>
<servlet-name>addEmp</servlet-name>
<servlet-class>com.nt.addEmpServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>addEmp</servlet-name>
<url-pattern>/addEmp</url-pattern>  
</servlet-mapping>
  
<servlet>
<servlet-name>displayAll</servlet-name>
<servlet-class>com.nt.DisplayAllServlet</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>displayAll</servlet-name>
<url-pattern>/displayAll</url-pattern>  
</servlet-mapping>


<servlet>
<servlet-name>DeleteEmpServlet</servlet-name>
<servlet-class>com.nt.DeleteEmpServlet</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>DeleteEmpServlet</servlet-name>
<url-pattern>/deleteById</url-pattern>  
</servlet-mapping>


<servlet>
<servlet-name>UpdateEmpPageServlet</servlet-name>
<servlet-class>com.nt.UpdateEmpPageServlet</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>UpdateEmpPageServlet</servlet-name>
<url-pattern>/updateEmpPage</url-pattern>  
</servlet-mapping>


<servlet>
<servlet-name>UpdateEmpServlet</servlet-name>
<servlet-class>com.nt.UpdateEmpServlet</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>UpdateEmpServlet</servlet-name>
<url-pattern>/updateEmp</url-pattern>  
</servlet-mapping>
  
</web-app>

